body {
	background: #292841;
    font-family: 'Montserrat', sans-serif;
}

.libro {
    max-width: 800px !important;
    padding: 5vh 30px;
    min-height: 100vh;
    margin: auto;
    background: url(../img/hoja.png);
    background-size: cover;
    background-repeat: repeat-y;
}

.nav-link, .nav-item {
    color: black;
    
}

.navbar-expand-lg .navbar-nav {
    margin-left: auto;
    padding: 15px 15px;
}

a.nav-link {
    font-family: 'Montserrat', sans-serif;
}

a.nav-link:hover {
    color: seagreen;
}

.id {
	width: 20px !important;
}

#titulo {
	text-align: center;
}

.card {
	-webkit-box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.75);
	box-shadow: 4px 5px 11px 0px rgba(0,0,0,0.75);
	transition: .1s;
}

.card:hover {
	-webkit-box-shadow: 8px 10px 22px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 8px 10px 22px 0px rgba(0,0,0,0.75);
	box-shadow: 8px 10px 22px 0px rgba(0,0,0,0.75);
}

.XD {

	text-decoration: none;
	color: gray;
	transition: .3s ease;
}

.XD:hover {
	color: black;
}